body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background:  #b2aaff;

}

ol, ul {
  padding-left: 30px;
}

.board-col {
  display: block;
  width: 100px;
}

.board-col:after {
  clear: both;
  content: "";
  display:table;
}

.status {
  margin-bottom: 10px;
  font-size: 32px;
  color: rgb(108, 248, 108);
  text-align: center;
}

.square {
  background: rgb(2, 39, 160);
  border: 1px outset #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 80px;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: black;
  margin: auto;
}

.red-player {
  background: rgb(172, 12, 12);
}

.yellow-player {
  background: rgb(204, 175, 14);
}

.game-board {
  width: 700px;
  height: 500px;
  display: flex;
  margin: auto;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  align-items: center;
  z-index: 2;
}

.game-info {
  margin-left: 100px;
}

h1 {
  font-size: 64px;
  color: rgb(221, 255, 31);
  text-align: center;
  width: 400px;
  margin: auto;
}
.btn{
  width: 250px;
  height: 75px;
  background-color: rgb(63, 62, 59);
  color: rgb(255, 255, 255);
  font-size: x-large;
}
.btn:hover
{
  background-color:rgb(48, 47, 46) ;
}
.reset
{
  width: 250px;
  height: 75px;
  margin: auto;
}

